{% extends 'base.html.twig' %}

{% block title %}
    Edition profile
{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="mt-4">Formulaire de modification de profile</h1>
       
        {{form(form)}}
    </div>
{% endblock %}