{% extends 'base.html.twig' %}
{% block title %}
    Projet Symfony - Accueil
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Project DEV web Par Karim Ben Khaled</h1>
        <p class="lead">cette application va te permettre de creer des regimes à base des recettes que tu auras toi-meme creeer. Tu pourras parteger tes regimes à la communauté du site, ou bien les garder en privées.  .</p>
        <hr class="my-4">
        <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
    </div>
</div>
{% endblock %}